:root {
  --background-color:#f5f7f7;
  --primary-color: #49bac9;
  --secondary-color: #743333;
  --dark-grey: #7a7a7a;
  --normal-weight: 700;
  --grid-background: #ffffff;
}

body {
    background-color: var(--background-color);
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 16px;
    /* Sets the font size to 16px */
    line-height: 1.6;
    /* Sets the line-height to 1.6 */
    position: relative;
    padding-bottom: 6rem;
    min-height: 100vh;

  }

  main {
    padding-bottom: 2.5rem;
    margin-top: 5rem;
    padding: 30px;
  }

  h1 {
    font-size: 30px;
    font-weight: var(--normal-weight);
  }

  h2 {
    font-size: 24px;
    font-weight: var(--normal-weight);
  }

  h3 {
    font-size: 18px;
    font-weight: var(--normal-weight);
  }

  a {
    color: var(--dark-grey);
  }


  a:hover, a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
    color: black;
  }

  a:active {
    /* selected link */
    color: var(--dark-grey);
  }

  .page-header {
    display: flex;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    background-color: var(--primary-color);
    color: white;
    justify-content: space-between;

  }


  .nav-link {
      cursor: pointer;
      position: relative;
      color: white;
  }

  .nav-link:hover {
    color: white;
  }

  a.navigation-list__item::before, a.navigation-list__item::after
  {
     position: absolute;
      left: 0px;
      width: 100%;
      height: 1px;
      background: white;
      content: "";
      opacity: 0;
      transition: all 0.3s;
  }

  a.navigation-list__item::before
  {
      top: 0px;
      transform: translateY(15px);
  }

  a.navigation-list__item::after
  {
      bottom: 0px;
      transform: translateY(-15px);
  }

  a.navigation-list__item:hover::before, a.navigation-list__item:hover::after
  {
      opacity: 1;
      transform: translateY(0px);
  }

.button-group {
  display: flex;
  justify-content: space-between;
}

  button:hover, button:focus,
  .button:hover, .button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
  }

  button:hover,
  button:focus,
  .button:hover,
  .button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
  }

  .profile__portrait{
    float: left;
    width: 40%;
    max-width: 400px;
    margin-right: 40px;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  .profile {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 5rem;
  }

  .about{
    max-width:1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 5rem;
  }

  .contact {
   padding-top: 5rem;
    text-align: center;
  }

  .projects {
    padding-top: 5rem;
    text-align: center;
  }

  .about-list {
    list-style-type:none;
    margin: 0;
    padding: 0;
  }

  .projects-card {
    padding-bottom: 20px;
  }

  .card-front{
    background-color: var(--primary-color);
  }

  * {
    box-sizing: border-box;
  }

  footer {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
    }

  .footer-logo:hover {
    transform: scale(1.3);
    transition: all 0.3s ease-in-out;
  }

@media all and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .card-text{
    font-size: 10px;
  }
  .card-title-h3{
  font-size: 12px;
  }
}
@media all and (min-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }

.profile {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .page-header__logo, .profile__portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 5px;
  }
  .page-header .page-header__item .navigation-list {
    padding: 0;
    margin: 5px;
    text-align: center;
  }
  }
